.con_box{
  width: 265px;
  height: 259px;
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #999;
  border-radius: 5px;
}
.con_box h2{
  font-size: 15px;
  padding: 8px 0 0 16px;
}
.list01,
.list02{
  font-size: 14px;
}
.list01 dt,
.list02 dt{
  font-weight: bold;
  line-height: 21px;
  color: #296897;
}

.list01 dd:nth-of-type(1){
  float: left;
  margin-left: 16px;
  margin-right: 16px;
}
.list01 dt,
.list02 dt{
  margin: 0 0 5px 16px;
}
.list02{margin-top: 20px;}
.list02 dd:nth-of-type(1){
  float: right;
  margin-left: 16px;
  margin-right: 16px;
}
.list02 dd:nth-of-type(2){
  margin-left: 16px;
}