a{
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
.favorite_site{
  width: 190px;
  height: 147px;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Pretendard';
}
.favorite_site .tit_box{
  display: flex;
  justify-content: space-between;
  margin: 12px;
}
.favorite_site .tit_box h2{
  font-size: 15px;
  margin: 0;
}
.favorite_site .tit_box h2 span{
  color: #ED552F;
}
.favorite_site ol{
  list-style: none;
  padding-left: 12px;
  margin-top: 8px;
}
.favorite_site ol li a{
  font-size: 11px;
  margin-bottom: 8px;
}
.favorite_site ol li a{
  display: block;
  background: url(./rank.png) no-repeat 9px 9.5px;
  margin-right: 12px;
}
.favorite_site ol li:nth-child(1) a{
  background-position: right 2px;
}
.favorite_site ol li:nth-child(2) a{
  background-position: right -41px;
}
.favorite_site ol li:nth-child(3) a{
  background-position: right -18px;
}
.favorite_site ol li:nth-child(4) a{
  background-position: right 2px;
}
.favorite_site ol li a::before{
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: #FFFFFF;
  background: #A3A3A3;
  border-radius: 5px;
  margin-right: 4px;
}
.favorite_site ol li:nth-child(1) a::before{
  content: "1";
}
.favorite_site ol li:nth-child(2) a::before{
  content: "2";
}
.favorite_site ol li:nth-child(3) a::before{
  content: "3";
}
.favorite_site ol li:nth-child(4) a::before{
  content: "4";
}